* {
    margin: 0;
}

body {
    background-image: url(https://images.pexels.com/photos/189349/pexels-photo-189349.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flag {
    box-shadow: 2px 5px 14px 0px rgba(0, 0, 0, 0.4);
    animation: wave 1s cubic-bezier(0.77, 0, 0.175, 1) infinite;
    transform: translate3d(0, 0, 0);
}

  @keyframes wave {
      0% {transform: translateX(0);}
      50% {transform: translateX(-1%);}
      100% {transform: translateX(-2%);}
  }

.stripe {
    height: 10rem;
    width: 50rem;
}

.saffron {
    background-color: #FF671F;
}

.white {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

.green {
    background-color: #046A38;
}

.blue-wheel {
    width: 9rem;
    aspect-ratio: 1;
    border-radius: 50%;
    border: 6px solid #06038D;
}

.wheel-box {
    width: 9rem;
    aspect-ratio: 1;
    position: relative;
}

.spoke {
    background-color: #06038D;
    height: 50%;
    width: 4px;
    position: absolute;
    left: 50%;
    clip-path: polygon(50% 0, 50% 0, 100% 70%, 50% 100%, 50% 100%, 0 70%);
    transform-origin: bottom;
}

.spoke:nth-child(1) {
    transform: rotate(15deg);
}

.spoke:nth-child(2) {
    transform: rotate(30deg);
}

.spoke:nth-child(3) {
    transform: rotate(45deg);
}

.spoke:nth-child(4) {
    transform: rotate(60deg);
}

.spoke:nth-child(5) {
    transform: rotate(75deg);
}

.spoke:nth-child(6) {
    transform: rotate(90deg);
}

.spoke:nth-child(7) {
    transform: rotate(105deg);
}

.spoke:nth-child(8) {
    transform: rotate(120deg);
}

.spoke:nth-child(9) {
    transform: rotate(135deg);
}

.spoke:nth-child(10) {
    transform: rotate(150deg);
}

.spoke:nth-child(11) {
    transform: rotate(165deg);
}

.spoke:nth-child(12) {
    transform: rotate(180deg);
}

.spoke:nth-child(13) {
    transform: rotate(195deg);
}

.spoke:nth-child(14) {
    transform: rotate(210deg);
}

.spoke:nth-child(15) {
    transform: rotate(225deg);
}

.spoke:nth-child(16) {
    transform: rotate(240deg);
}

.spoke:nth-child(17) {
    transform: rotate(255deg);
}

.spoke:nth-child(18) {
    transform: rotate(270deg);
}

.spoke:nth-child(19) {
    transform: rotate(285deg);
}

.spoke:nth-child(20) {
    transform: rotate(300deg);
}

.spoke:nth-child(21) {
    transform: rotate(315deg);
}

.spoke:nth-child(22) {
    transform: rotate(330deg);
}

.spoke:nth-child(23) {
    transform: rotate(345deg);
}

.spoke:nth-child(24) {
    transform: rotate(360deg);
}